@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Forum1.Models.DBModels.UserAccount

<h1>Registration</h1>

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.ErrorMessage
    </div>
}

<form method="post">
    <div>
        <label asp-for="Login"></label>
        <input asp-for="Login" />
    </div>
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" />
    </div>
    <button type="submit">Register</button>
</form>

<div>
    <a asp-controller="Authorization" asp-action="Login" class="btnm">Войти</a>
</div>