@model Forum1.Models.DBModels.UserAccount
<main>
    @using (Html.BeginForm("Registration", "Authorization", FormMethod.Post))
    {
        <h1 class="loginregH1">Регистрация</h1>
        <div>
            <label>Логин</label>
            @Html.TextBoxFor(model => model.Login)
        </div>
        <div>
            <label>Email</label>
            @Html.TextBoxFor(model => model.Email)
        </div>
        <div>
            <label>Пароль</label>
            @Html.TextBoxFor(model => model.Password)
        </div>
        @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <div class="alert alert-danger" role="alert">
                @ViewBag.ErrorMessage
            </div>
        }
        <button class="btn btn-primary" type="submit">Регистрация</button>
    }
    <div class="form-group" style="margin-top: 20px;">
        <a asp-controller="Authorization" asp-action="Login" class="btn btn-secondary">Войти</a>
    </div>
</main>
