:root {
    --background: #8bc0d0; /* Светло-голубой цвет фона */
    --primary: #00FF00; /* Зеленый цвет текста */
    --secondary: #D8D8D8; /* Вторичный цвет для элементов интерфейса */
    --foreground: #878787; /* Цвет текста, второстепенный */
    --floor: #223838; /* Цвет подвала */
}

body {
    background-color: var(--background);
    font-family: cursive;
    min-width: 350px;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    color: var(--primary); /* Зеленый цвет текста */
}

header, footer {
    background-color: var(--floor);
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

main {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-sizing: border-box;
}

.btnm {
    display: inline-block;
    padding: 5px 10px;
    background-color: var(--floor);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease; 
}

    .btnm:hover {
        background-color: green;
    }

.btn {
    display: inline-block;
    padding: 2px 5px;
    background-color: var(--foreground);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    transition: background-color 0.3s ease;
}

    .btn:hover {
        background-color: green; 
    }

.aClass {
    color: inherit;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    nav ul li {
        display: inline;
        margin-right: 20px;
    }

        nav ul li:last-child {
            margin-right: 0;
        }
