:root {
    --background: #223838;
    --primary: #54ae08; 
    --secondary: #D8D8D8;
    --foreground: #878787; 
    --floor: #223838;
}

body {
    background-color: var(--background);
    font-family: cursive;
    min-width: 350px;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    color: var(--primary);
}

header, footer {
    background-color: var(--floor);
    color: #fff;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

main {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-sizing: border-box;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    nav ul li {
        display: inline;
        margin-right: 20px;
    }

        nav ul li:last-child {
            margin-right: 0;
        }

        nav ul li a {
            color: inherit;
            text-decoration: none;
            font-size: 18px;
            transition: color 0.3s ease;
        }

            nav ul li a:hover {
                color: green;
            }

.btnm, .btn {
    display: inline-block;
    padding: 5px 10px;
    background-color: var(--floor);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

    .btnm:hover, .btn:hover {
        background-color: green;
    }
